.body{
  padding: 0;
  margin:0;
width: 100%;
height: 100%;
background: #8E44AD;
}
.social-media{
  position: 0;
  top: 50%;
  left: 50%;
  transform: translateX(-50%);


}
 .social-media p{
   text-transform: uppercase;
   font-size: 30px;
   font-weight: bold;
   font-family: fantasty;
  color: black;
  text-shadow: 0px 2px 3px color(white)
    }
    .social-media a{
      display: inline-block;
      margin: 5px 10px;
      background: black;
      width: 50px;
      height: 50px;
      line-height: 52px
        text-align: center;
      font-size: 2px;
      border-radius: 50%;
      color: #fff
        }
        
        transform: translateY(0px);
      transition: transform 0.15s liner;
      box-shadow: 0px 2px 5px rgba(0,0,0,0.7);
       .social-media:hover{
       transform: translateY(-10px);
       box-shadow: 0px 20px 25px rgba(0,0,0,0.25);
     
      
 
